body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* Hero component */
.about-us-hero {
  background: url(./images/bg/Rectangle.png);
  background-size: auto;
  height: 494px;
}
.hero-headline {
  position: relative;
  top: 271px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin: 0;
}
.ar_bg {
  background-image: url(./images/bg/linha-divisória-png-rosa-1\ 2.png);
  height: 100px;
  background-position: center;
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
}
.flower-bg-up {
  position: absolute;
  top: 0;
  right: 0;
}
.flower-bg-up.blog-page {
  top: 115px;
}
.sp-flower-bg {
  position: relative;
  left: -10px;
  rotate: 180deg;
}
.flower-bg-down-container {
  position: relative;
}
.flower-bg-down {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}
.flower-img-container {
  position: relative;
}
.flower-img-up {
  position: absolute;
  top: -50px;
  right: -50px;
}
.flower-img-down {
  position: absolute;
  bottom: -50px;
  left: -50px;
  transform: rotate(180deg);
}
/* Greeting */
.greeting {
  background: #fff8f8;
  position: relative;
}

.greet {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #d23636;
  padding-top: 36px;
  margin: 0;
}
.greeting-text {
  font: poppins;
  font-weight: 400;
  color: #00000091;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.feature__image {
  width: 100%;
  border-radius: 33px;
}
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* why choose us */

/* blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block-padding-up {
  padding-top: 0;
}
/* Best value jwellery */
.best-value {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0 10px 0 10px;
}
.check-list {
  padding-left: 90px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000c2;
}

/* Info Tag */
.info {
  padding-bottom: 0;
}
.info-tag {
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
.info-tag .upper {
  margin: 0;
}
.info-tag .lower {
  margin: 0 0 30px 0;
  color: #d23636;
}

/* Footer */
.footer {
  background: rgba(247, 131, 131, 0.85);
}

.footer a {
  color: #fff;
  transition: color 0.3s;
}
.footer a:hover {
  color: #fff;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #fff;
}
.footer__section .list {
  list-style: none;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.footer__brand {
  margin-top: 5rem;
}
.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 1;
}
.list {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
    font-size: 1.5rem;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__brand img {
    width: 100%;
    max-width: 230px;
  }
  .footer__copyright {
    font-size: 1.5rem;
    color: #fff;
  }
  .footer__section {
    border: 0;
  }
  .footer__section .list {
    margin: 0;
  }
  .footer__heading > h2 {
    font-size: 1.5rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  /* font-size: 3rem; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  display: block;
  max-height: 100vh;
  opacity: 1;
}

/* Navigation Bar */
.nav {
  background: #f78383c9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  min-height: 117px;
}
.navbar-search {
  border: 0;
  border-radius: 10px;
  height: 26px;
  width: 250px;
  padding: 8px;
}
.nav__list {
  width: 100%;
  margin: 0;
  list-style: none;
}

.nav__item > a {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;

  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #fff;
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0.5px 3px rgb(252, 252, 252);
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 786px) {
  .nav__toggler {
    display: none;
  }
  .list.nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--white {
  fill: rgb(0, 0, 0);
}

/* Blog Page */
.top-block {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .top-block {
    flex-direction: column;
  }
}
.img {
  align-self: center;
  min-width: 500px;
  height: 500px;
}
.read-more-heading {
  margin-top: 20px;
  color: #b72b2bb2;
  text-align: center;
}
.greeting-text-blog {
  max-width: 750px;
  text-align: left;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justified;
  padding-left: 20px;
  max-height: 400px;
}
.text.read-more {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.read-more-btn {
  padding-left: 30px;
  padding-right: 30px;
  border: solid 3px #b72b2b;
  color: #000;
  background-color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.read-more-btn:hover {
  color: #f78383;
  cursor: pointer;
}
@media screen and (max-width: 762px) {
  .read-more-btn.art {
    position: relative;
    bottom: 0;
  }
}

/* carousel */
.owl-dot > span {
  background-color: #fff !important;
  border: 3px solid #f78383;
  height: 24px !important;
  width: 24px !important;
  transition: width 0.3sec !important;
}
.owl-dot > span:hover {
  background: #f78383 !important;
}
.owl-dot.active > span {
  background-color: #ff8d8d !important;
  width: 60px !important;
}
div.card.border-0.shadow {
  overflow: hidden;
  padding-right: 0;
}
.card-body {
  background: #ffe5e5;
  width: 900px;
}
.carousel-link {
  padding-left: 30px;
  padding-right: 30px;
  border: solid 3px #b72b2b;
  color: #000;
  background-color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.carousel-link:hover {
  color: #f78383c9;
}

/* profile-page */
.my-details {
  padding-left: 54px;
}
.head > h2 {
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.4793807566165924px;
  text-align: left;
  color: #f78383;
}
.head > h3 {
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4514501094818115px;
  text-align: left;
  color: #333333;
}
hr {
  color: #00000036;
}
.body {
  padding-top: 10px;
}
.body .name {
  display: flex;
}
.name {
  flex-direction: column;
}
.name span {
  margin-right: 30px;
  margin-bottom: 40px;
}
.name label,
.email label {
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4514501094818115px;
  text-align: left;
}
.name input,
.email input {
  padding-left: 10px;
  height: 75px;
  width: 257px;
  background: #f7f7f7;
  border: 0;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4514501094818115px;
  text-align: left;
}
.gender {
  margin-bottom: 40px;
}
.gender label {
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4514501094818115px;
  text-align: left;
  color: #bdbdbd;
}
label.gender-lbl,
label.email-lbl {
  color: #000;
}
.email {
  margin-bottom: 40px;
}
.email input {
  width: 331px;
}
.email a {
  color: #2f80ed;
  margin: 0 20px 0 20px;
}
/* Profile */
.profile {
  padding-left: 54px;
  border-right: 4px solid #00000036;
}
.my-details {
  flex-grow: 1;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 54px;
  margin-bottom: 20px;
}
.profile img {
  border-radius: 50%;
  object-fit: contain;
  width: 186px;
  height: 186px;
  margin-bottom: 50px;
}
.account-name {
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.30370140075683594px;
  text-align: left;
  color: #f78383 !important;
}
.card div {
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.30370140075683594px;
  text-align: left;
  color: #000000a8;
}
.hello-txt {
  margin-bottom: 20px;
}
#toggler:hover {
  transition-duration: 0.3s;
  color: #2f80ed;
}
.links {
  display: flex;
  justify-content: center;

  font-family: Poppins;
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.4279133379459381px;
  text-align: left;
  color: #000000a1;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
.link li {
  padding-left: 20px;
  padding-top: 19px;
  text-align: center;
  width: 350px;
  height: 41px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.4279133379459381px;
  text-align: left;
}
li.active-link {
  border-left: 4px solid #2f80ed;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.4279133379459381px;
  text-align: left;
  color: #2f80ed;
  background: linear-gradient(
    89.95deg,
    rgba(255, 252, 252, 0.05) 0.47%,
    rgba(188, 187, 187, 0.13) 52.94%,
    rgba(0, 0, 0, 0.04) 97.93%
  );
}
.icon i {
  color: #e77777 !important;
  margin-right: 15px;
  transition-duration: 300ms;
}
.icon i:hover {
  color: #2f80ed !important;
  cursor: pointer;
}
.toggler {
  text-align: center;
  color: #e77777;
  font-size: 36px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  border-top: 4px solid #00000036;
  padding-top: 54px;
  padding-bottom: 54px;
}
.head {
  border-bottom: 4px solid #00000036;
}
.toggle-height {
  opacity: 1;
  height: auto;
  transition: 300ms;
}
ul{
  margin: 10px 0 0 0;
}
.ul{
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .3s;
}
.ul.opened{
  height: auto;

  opacity: 1;
}
@media screen and (max-width: 870px) {
}
@media screen and (min-width: 870px) {
  /* .name {
    flex-direction: row;
  } */
  .toggler {
    display: none;
  }
  .profile-container {
    display: flex;
    flex-direction: row;
  }
  .links {
    opacity: 1;
    height: auto;
  }
}
@media screen and (min-width: 1122px) {
  .name {
    flex-direction: row;
  }
}
