body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* Hero component */
.about-us-hero {
  background: url(./images/bg/Rectangle.png);
  background-size: auto;
  height: 494px;
}
.hero-headline {
  position: relative;
  top: 271px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin: 0;
}
.ar_bg{
  background-image: url(./images/bg/linha-divisória-png-rosa-1\ 2.png);
  height: 100px;
  background-position: center;
  display: flex;
  margin: auto;
  background-repeat: no-repeat;
}
.flower-bg-up{
  position: absolute;
  top: 0;
  right: 0;
}
.flower-bg-down-container{
  position: relative;
}
.flower-bg-down{
  position: absolute;
  bottom: 0;
  left:0;
  transform: rotate(180deg);
}
.flower-img-container{
  position: relative;
}
.flower-img-up{
  position: absolute;
  top: -50px;
  right: -50px;
}
.flower-img-down{
  position: absolute;
  bottom: -50px;
  left: -50px;
  transform: rotate(180deg);
}
/* Greeting */
.greeting {
  background: #fff8f8;
  position: relative;
}

.greet {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #d23636;
  padding-top: 36px;
  margin: 0;
}
.greeting-text {
  font: poppins;
  font-weight: 400;
  color: #00000091;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.feature__image {
  width: 100%;
  border-radius: 33px;
}
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* why choose us */

/* blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}
.block-padding-up{
  padding-top: 0;
}
/* Best value jwellery */
.best-value {
  padding-left: 50px;
  padding-right: 50px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 0 10px 0 10px;
}
.check-list {
  padding-left: 90px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000c2;
}

/* Info Tag */
.info {
  padding-bottom: 0;
}
.info-tag {
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
.info-tag .upper {
  margin: 0;
}
.info-tag .lower {
  margin: 0 0 30px 0;
  color: #d23636;
}

/* Footer */
.footer {
  background: rgba(247, 131, 131, 0.85);
}

.footer a {
  color: #fff;
  transition: color 0.3s;
}
.footer a:hover {
  color: #fff;
}
.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #fff;
}
.footer__section .list {
  list-style: none;
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.footer__brand {
  margin-top: 5rem;
}
.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 1;
}
.list {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
    font-size: 1.5rem;
  }
  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }
  .footer__brand img {
    width: 100%;
    max-width: 230px;
  }
  .footer__copyright {
    font-size: 1.5rem;
    color: #fff;
  }
  .footer__section {
    border: 0;
  }
  .footer__section .list {
    margin: 0;
  }
  .footer__heading > h2 {
    font-size: 1.5rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  /* font-size: 3rem; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  display: block;
  max-height: 100vh;
  opacity: 1;
}

/* Navigation Bar */
.nav {
  background: #f78383c9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
  min-height: 117px;
}
.navbar-search {
  border: 0;
  border-radius: 10px;
  height: 26px;
  width: 250px;
  padding: 8px;
}
.nav__list {
  width: 100%;
  margin: 0;
  list-style: none;
}

.nav__item > a {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;

  transition: color 0.3s;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #fff;
}
.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0.5px 3px rgb(252, 252, 252);
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 786px) {
  .nav__toggler {
    display: none;
  }
  .list.nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--white {
  fill: rgb(0, 0, 0);
}

/* Blog Page */
.read-more-heading {
  color: #b72b2bb2;
  text-align: center;
}
.greeting-text-blog {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justified;
  padding-left: 20px;
}
.read-more{
  display: flex;
  flex-direction: column;
  position: relative;
}
.read-more-btn{
  text-align: center;
  align-self: center;
  height: 30px;
  width: 200px;
  border: 3px solid #B72B2B;
  color: black;
  padding-top: 3px;
  position: absolute;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .read-more-btn{
    position: relative;
    bottom: 0;
  }
  
}