<div class="text">
    <h1 class="greet">Best Value Jewelry</h1>
    <p class="best-value">
      Lectus porttitor ac ut eget ut pretium gravida enim malesuada.
      Tellus, enim, volutpat nibh elit libero cursus sit sollicitudin
      nunc.
    </p>
    <ul class="check-list">
      <li>
        Lectus porttitor ac ut eget ut pretium gravida enim malesuada.
      </li>
      <li>
        Lectus porttitor ac ut eget ut pretium gravida enim malesuada.
      </li>
      <li>
        Lectus porttitor ac ut eget ut pretium gravida enim malesuada.
      </li>
      <li>
        Lectus porttitor ac ut eget ut pretium gravida enim malesuada.
      </li>
      <li>
        Lectus porttitor ac ut eget ut pretium gravida enim malesuada.
      </li>
    </ul>
  </div>