<div class="greeting">
    <h1 class="greet">Welcome to Our Store</h1>
    <p class="greeting-text">
      Est sit facilisi fames at. Augue eget morbi in congue magna faucibus
      magnis vitae viverra. Vitae pretium sodales sagittis ullamcorper ornare
      viverra nibh scelerisque. Arcu nisl lacus amet, sed eget. Orci, rhoncus
      nulla ac orci nisl egestas. Non sapien erat egestas purus. Venenatis
      semper non non sagittis sit et, dignissim quisque dis. Diam proin ac
      commodo hendrerit leo neque feugiat porttitor viverra. <br /><br />
      Proin enim, quis aliquam, elementum praesent cursus duis. Habitant vel
      auctor orci ullamcorper eu laoreet. Sapien eget magna tristique mattis
      accumsan pellentesque lectus. Feugiat nam neque, eget amet nam. Nibh
      varius aenean morbi amet egestas. Venenatis sed risus morbi ipsum a.
      Suspendisse et nullam sed facilisis scelerisque quis mauris. Habitasse
      enim eget posuere quam. Feugiat massa sit scelerisque facilisis morbi
      libero diam ultrices purus. Sed dictumst purus in semper feugiat ut
      quisque donec posuere. Libero a vehicula sit ut eu gravida mattis. Urna
      mauris egestas iaculis nullam elit. Sollicitudin semper mauris eu
      tortor, lorem. Libero eget in sit massa tristique. Enim, nunc, arcu,
      faucibus nisi, pharetra accumsan sit morbi vel.
    </p>
    <!-- paste why choose here -->
  </div>