<section class="block">
  <div class="grid grid--1x2">
    <div class="img">
      <img class="feature__image" src="./hero-image.avif" alt="" />
    </div>
    <div class="text">
      <h1 class="greet">Why Choose Us</h1>
      <p class="greeting-text">
        Est sit facilisi fames at. Augue eget morbi in congue magna faucibus
        magnis vitae viverra. Vitae pretium sodales sagittis ullamcorper ornare
        viverra nibh scelerisque. Arcu nisl lacus amet, sed eget. Orci, rhoncus
        nulla ac orci nisl egestas. Non sapien erat egestas purus. Venenatis
        semper non non sagittis sit et, dignissim quisque dis. Diam proin ac
        commodo hendrerit leo neque feugiat porttitor viverra.
      </p>
    </div>
  </div>
</section>
